@import url('https://fonts.googleapis.com/css2?family=Anton&family=Martel:wght@600&family=Praise&family=Russo+One&family=Shippori+Antique&display=swap');

:root {
    --ff-primary: 'Martel', serif;
    --ff-highlights: 'Anton', sans-serif;
    --ff-highlights-2: 'Praise', cursive;
    --ff-title: 'Russo One', sans-serif;

    --bg-primary:  hsla(210, 12%, 29%, 1);
    --alert-red: #B4184C;
    --bg-secondary: #352F37;
    --fc-primary: #feecd8;
    --fc-title: aliceblue;
    --fc-title2: #DCAB6B;
    --bg-accent: #153243;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* .grid-item {
     position: relative; 
     font-size: 25px;
    padding: 20px;
    padding-top: 50px; 
    background-color: #379AD6;
    color: #222;
    border: 1px solid black;
}  */
  
/* .grid-item:nth-child(odd) {
    background-color: #5bbdfa;
} */
.left-margin {
    grid-column: 1;
    grid-row: 1 / -1;
    background-image: linear-gradient(rgba(19, 12, 1, 0.9),rgba(4,9,30,0.65)),url(../assets/left.png);
    background-size: cover;
}
.right-margin {
    grid-column: 3;
    grid-row: 1 / -1;
    background-image: linear-gradient(rgba(19, 12, 1, 0.9),rgba(4,9,30,0.65)),url(../assets/right2.png);
    background-size: cover;
}
.left-margin,
.right-margin {
    background-color: var(--bg-secondary);
    width: auto;
}

.body-grid-container {
    display: grid;
    grid-template-columns: 13.4% 70% 13.4%;
    grid-template-rows: 5rem 2rem 9.5rem auto minmax(39rem, auto) 3rem ;
    grid-gap: 1.8rem;
    background-color: var(--bg-primary);
}

header {
    font-family: var(--ff-primary);
    align-items: center;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: .5rem;
    display: flex;  
    justify-content: space-between;
    grid-column: 2;
}

header a {
    color: var(--fc-title);
    text-decoration: none;
    font-family: var(--ff-title);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-family: var(--ff-highlights);
    color: var(--fc-title2);
    font-size: 2rem;
}

body button {
    background-color: var(--bg-accent);
    color: var(--fc-primary);
    font-family: var(--ff-highlights);
    font-size: 1.5rem;
    cursor: pointer;
}

button:active {
    border: 1px solid #B4184C;
}

button:hover {
    background-color: #352F37;
}

.spirit-filter-title {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 2;
}

.spirit-filter {
    background-image: linear-gradient(rgba(4,9,30,0.58),rgba(4,9,30,0.58)),url(../assets/bar-shelf2.jpg);
    background-size: cover;
    border: 2px solid black;
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-auto-columns: 28%;
    grid-template-rows: 40px 40px;
    grid-gap: 4px;
    overflow: auto;
    grid-auto-flow: column;
    padding-top: 1.8rem;
}

#recipe-list-title {
    grid-column: 2;
    grid-row: 4;
    width: 10rem;
}

#ingredient-alert {
    display: block;
    width: 400%;
    font-size: 1.5rem;
    color: var(--fc-primary);
    padding-top: .2rem;
}

#recipe-list-grid {
    background-image: linear-gradient(rgba(4,9,30,0.58),rgba(4,9,30,0.58)),url(../assets/Bar-Background.jpg);
    background-size: cover;
    border: 2px solid black;
    grid-column: 2;
    grid-row: 5;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-auto-rows: 7rem;
    grid-auto-flow: row;
}

.recipe-card {
    height: 85%;
    border: 2px solid black;
    margin: auto;
    width: 95%;
    background-color: var(--bg-accent);
    color: var(--fc-primary);
    cursor: pointer;
}

.recipe-card > * {
    position: relative;
    top: 15px;
    left: 8px;
}

.recipe-card > p {
    font-size: 1.2rem;
    position: relative;
    top: 23%;
}

.hidden {
    display: none;
}

.no-scroll {
    position: fixed; 
    width: 100%;
}

.recipe-grid {
    z-index: 1000;
    width: 80%;
    height: 80%;
    position: fixed;
    left: 10%;
    top: 10%;
    padding: 3rem;
    background-color: var(--fc-primary);
    font-family: var(--ff-primary);
    font-size: 2rem;
    display: grid;
    grid-template-columns: 46% 27% 27%;
    grid-template-rows: 15% auto 25% 25%;
    overflow: auto;
}

.rendered-title {
    grid-column: span 3;
    font-size: 3.5rem;
    margin: auto;
    color: var(--bg-accent);
}

.icon {
    grid-column: 2;
    grid-row: 1;
    /* background-color: black; */
    margin: auto 0;
    color: white;
    width: 75px;
    height: 75px;
}

.ingredients-list {
    grid-column: 1 / 4;
    grid-row: 2;
    grid-auto-flow: column; 
}

.ingredients-list > li {
    padding: .3rem;
}

.how-make {
    grid-column: 1 / 4;
    grid-row: 3;
    padding-top: 1.2rem;
}

.notes {
    grid-column: 1 / 4;
    grid-row: 4;
}

#popup-outline {
    position: fixed;
    width: 100.65%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.65);
    z-index: 900;
}

.close-popup {
    height: 2.3rem;
    width: 2.3rem;
    position: absolute;
    left: 93%;
    top: 1.8rem;
    background-color: var(--alert-red);
    line-height: 7px
}

#clear-filter {
    background-color: var(--alert-red);
    font-size: 1rem;
    height: 25px;
    grid-column: 2;
    grid-row: 4;
    width: 7rem;
    justify-self: right;
    line-height: 20px;
} 

@media screen and (max-width: 950px) {
    .body-grid-container {
        grid-template-columns: 6.5% 80% 6.5%;
        grid-template-rows: 4rem 2rem .8rem 13.5rem 1.6rem auto .8rem 26rem;
        grid-gap: 3%;
    }

    .left-margin {
        display: none;
    }

    .right-margin {
        display: none;
    }

    .left-margin,
    .right-margin {
        background-color: var(--bg-secondary);
        width: auto;
    }

    header {
        grid-column: 1/4;
    }

    .spirit-filter {
        grid-column: 2;
        grid-row: 4;
        display: grid;
        grid-auto-columns: 45%;
        grid-template-rows: 5rem 5rem;
        grid-gap: 3px;
        overflow: auto;
        grid-auto-flow: column;
    }
    .filter-sc {
        font-size: 1rem;
        height: 5rem;
        width: auto;
    }

    #recipe-list-grid {
        justify-content: center;
        grid-template-columns: 48.5% 48.5%;
        grid-gap: .5rem;
        background-size: contain;
    }

    .recipe-grid {
        width: 90%;
        height: 80%;
        left: 5%;
        top: 10%;
        font-size: 1.2rem;
        margin-left: .2rem;
        display: grid;
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 15% auto 25% 25%;
        overflow: auto;
    }
    .recipe-grid > h4 {
        font-size: 1.3rem;
    }
    .recipe-grid > .icon {
        grid-column: 2;
        justify-self: right;
    }
    #clear-filter {
        font-size: .8rem;
        width: 4.5rem;
    }
    .recipe-card {
        height: 80%;
        width: 100%;
    }
    .recipe-card > h2 {
        font-size: 1.1rem;
    }
    .recipe-card > p {
        font-size: .9rem;
    }
    .close-popup {
        position: absolute;
        left: 81%;
        top: 1rem;
    }
}