@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&family=Praise&family=Russo+One&family=Shippori+Antique&display=swap');

:root {
    --ff-primary: 'Martel', serif;
    --ff-highlights: 'Praise', cursive;
    --ff-title: 'Russo One', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #81ADC8;
}
/* .grid-item {
     position: relative; 
     font-size: 25px;
    padding: 20px;
    padding-top: 50px; 
    background-color: #379AD6;
    color: #222;
    border: 1px solid black;
}  */
  
/* .grid-item:nth-child(odd) {
    background-color: #5bbdfa;
} */

.body-grid-container {
    display: grid;
    grid-template-columns: 12.5% 70% 12.5%;
    grid-template-rows: 4rem 2rem .8rem 6rem .8rem auto .8rem 26rem;
    grid-gap: 2.5rem;
}

header {
    font-family: var(--ff-primary);
    align-items: center;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: .5rem;
    display: flex;  
    justify-content: space-between;
    grid-column: 2;
}

h1 {
    font-family: var(--ff-title);
    font-size: 2rem;
}

.nav-bar {
    margin-top: .5rem;
}
.nav-bar > li {
    padding: 3px;
}

.search-bar {
    grid-template-rows: 2;
    grid-column: 2;
    justify-self: right;
}

.spirit-filter-title {
    grid-column: 2;
    grid-row: 3;
}

.spirit-filter1 {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-auto-columns: 30%;
    grid-template-rows: 37px 37px;
    grid-gap: 3px;
    overflow: auto;
    grid-auto-flow: column;
}

.spirit-filter1 > div {
    height: 2rem;
    min-width: 2%;
    border: 2px solid black;
}

.recipe-list-title {
    grid-column: 2;
    grid-row: 5;
}

#recipe-list-grid {
    grid-column: 2;
    grid-row: 6;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-auto-rows: 6rem;
    grid-auto-flow: row;
}

#recipe-list-grid > div {
    height: 60%;
    width: 20%;
    border: 2px solid black;
    margin: auto;
    width: 80%;
}

.recipe-card {
    height: auto;
    width: 20%;
    border: 2px solid black;
    margin: auto;
    width: 80%;
}

.popup-recipe {
    
}

.icon {
    float: right;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
}

.slide-show-title {
    grid-column: 2;
    grid-row: 8;
    z-index: 100;
    font-family: var(--ff-highlights);
    color: aliceblue;
    font-size: 2.5rem;
}
.slideshow-container {
    grid-column: 2;
    grid-row: 8;
    height: 100%;
}

.prev{
    cursor: pointer;
    width: auto;
    font-weight: 1000;
    font-size: x-large;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
}
.next {
    cursor: pointer;
    width: auto;
    font-weight: 1000;
    font-size: x-large;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.button-flexbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 45%;
}

.mySlides {
    display: none;
}

.cocktail-recipe {
    grid-row: 11;
    grid-column: 2;
}

.cocktail-recipe-flexbox {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 375px) {
    .body-grid-container {
        grid-template-columns: 8.8% 80% 8.8%;
        grid-gap: 1%;
    }
    header {
        grid-column: 1/4;
    }
}